## Problem Set 2
Question 1
Consider the following Python module: a = 0 def b(): global a a = c(a) def c(a): return a + 2 After importing the module into the interpreter, you execute:

b() b() b() a ?

What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [1]:
a = 0  # Making the local variable 'a' and initialize it as 0 

def b(): # "b is a function that used to assign the value c(a) to a.
 global a # Making the local variable "a" as a global one so that we can use it in the function "c".
 a = c(a)
    
def c(a): # "c" is a function that add 2 to the value of variable "a" each time when the function called.
 return a + 2

b()
b()
b()# the function "b" is called 3 times which will increase the value of 'a' by 2 for 3 times.
a # print the value of a.

6

## Question 2
Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

fileLength('midterm.py')

284

fileLength('idterm.py')

Traceback (most recent call last): File "<pyshell#34>", line 1, in fileLength('idterm.py') File "/Users/me/midterm.py", line 3, in fileLength infile = open(filename) FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py' As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:

fileLength('midterm.py')

358

fileLength('idterm.py')

File idterm.py not found.

In [1]:
def fileLength(fileName):
    try:
        infile = open(fileName, 'r')
        infile1 = infile.read()
        print (len(infile1))
    except FileNotFoundError as errorMessage:
        print("file {} is not found".format(fileName))
    
    
fileLength("filelength.txt")
fileLength("ilelength.txt")

123
file ilelength.txt is not found

## Question 3
Write a class named Marsupial that can be used as shown below:

m = Marsupial() m.put_in_pouch('doll') m.put_in_pouch('firetruck') m.put_in_pouch('kitten') m.pouch_contents()

['doll', 'firetruck', 'kitten'] Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also: a. extends the Marsupial init constructor to take, as input, the coordinates x and y of the Kangaroo object, b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and c. overloads the str operator so it behaves as shown below.

k = Kangaroo(0,0) print(k)

I am a Kangaroo located at coordinates (0,0)

k.put_in_pouch('doll') k.put_in_pouch('firetruck') k.put_in_pouch('kitten') k.pouch_contents()

['doll', 'firetruck', 'kitten']

k.jump(1,0) k.jump(1,0) k.jump(1,0) print(k)

I am a Kangaroo located at coordinates (3,0)

In [3]:
class Marsupial:   # create a class called Marsupial                           
    itemList=[]
    
    def put_in_pouch(self,item):
        self.itemList.append(item)
    
    def pouch_contents(self):
        return self.itemList

m=Marsupial()
m.put_in_pouch("doll")
m.put_in_pouch("firetruck")
m.put_in_pouch("kitten")
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [4]:
class Kangaroo(Marsupial):    # Create a class called Kangaroo
    def __init__(self,x1,y1):
        self.x = x1
        self.y = y1
        Marsupial.__init__(self)
    
    def jump(self,x1,y1):
        self.x = self.x + x1
        self.y = self.y + y1
        
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({}, {})'.format(self.x, self.y)
    
k = Kangaroo(0,0)
print (k)

I am a Kangaroo located at coordinates (0, 0)

In [5]:
k.put_in_pouch("doll")
k.put_in_pouch("firetruck")
k.put_in_pouch("kitten")
k.pouch_contents()

['doll', 'firetruck', 'kitten', 'doll', 'firetruck', 'kitten']

In [6]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3, 0)

## Question 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence: x = { 洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐 3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬 Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

collatz(1)

1

collatz(10)

10 5 16 8 4 2 1

In [9]:
def collatz(num): # define a function collatz
  
    if(num==1): # Base condition
        print(1)
        return 
    
    print(int(num), end=" ")
    
    if(num%2==0): # whether the given number is odd or even
        num=num/2
    else:
        num=3*num+1
        
    return(collatz(num))

collatz(1)
print()
collatz(10)

1

10 5 16 8 4 2 1

## Question 5
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

binary(0)

0

binary(1)

1

binary(3)

11

binary(9)

1001

In [61]:
def binary(integer):         #defining a function called binary.
    
    try:
        if(integer<0):
            raise ValueError        #check whether the number is less than zero and raise the error message if true.
        if integer > 1:                   
            binary(integer//2)            
        print (integer % 2, end = '')    
    except ValueError:
        print('Integer should not be negative.')

In [62]:
binary(-5)

Integer should not be negative.

In [63]:
binary(0)

0

In [64]:
binary(1)

1

In [65]:
binary(3)

11

In [66]:
binary(9)

1001

## Question 6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

infile = open('w3c.html') content = infile.read() infile.close() hp = HeadingParser() hp.feed(content)

W3C Mission Principles

In [68]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    
    def __init__(self):
        HTMLParser.__init__(self)
        
    def handle_starttag(self, tag, attrs):   #defining start function
        self.tag = tag 
        
    def handle_data(self, data):               #defining function to print the heading of html
        if self.tag in ['h1','h2','h3','h4','h5']:
            n=int(self.tag[1])       
            print (n*' '+data, end = '')
  
infile = open("w3c.html")  #providing html location
content = infile.read()
infile.close()

parser = HeadingParser()
parser.feed(content)

 W3C Mission
  Principles

## Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html http://reed.cs.depaul.edu/lperkovic/csc242/test2.html http://reed.cs.depaul.edu/lperkovic/csc242/test4.html http://reed.cs.depaul.edu/lperkovic/csc242/test3.html http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [72]:
from html.parser import HTMLParser    
from urllib.request import urlopen
from urllib.parse import urljoin

class Appender(HTMLParser):

    def __init__(self, url):
      
        HTMLParser.__init__(self)
        self.url = url
        self.url_links = []

    def append(self):
        return self.url_links

    def handle_starttag(self, url_tag, attr):
        for a in attr:
            join = urljoin(self.url, a[1])
            if join[:4] == 'http': 
                self.url_links.append(join)
                
i = 0
def webdir(url, depth, i):
   
    depth = depth - 1    
    print(i*'  ', url)         

    objective = urlopen(url).read().decode()
    collection = Appender(url)
    collection.feed(objective)
    urls = collection.append() 
 
    url_links = urls
    i= i + 4


    for link in url_links:
        if depth < 0 or i < 0:
            return 1
        else:
            webdir(link, depth, i)


webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
         http://reed.cs.depaul.edu/lperkovic/test2.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html
         http://reed.cs.depaul.edu/lperkovic/test3.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html

##  Question 8
Write SQL queries on the below database table that return: a) All the temperature data. b) All the cities, but without repetition. c) All the records for India. d) All the Fall records. e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters. f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order. g) The total annual rainfall for Cairo. h) The total rainfall for each season.

City Country Season Temperature (C) Rainfall (mm) Mumbai India Winter 24.8 5.9 Mumbai India Spring 28.4 16.2 Mumbai India Summer 27.9 1549.4 Mumbai India Fall 27.6 346.0 London United Kingdom Winter 4.2 207.7 London United Kingdom Spring 8.3 169.6 London United Kingdom Summer 15.7 157.0 London United Kingdom Fall 10.4 218.5 Cairo Egypt Winter 13.6 16.5 Cairo Egypt Spring 20.7 6.5 Cairo Egypt Summer 27.7 0.1 Cairo Egypt Fall 22.2 4.5

In [80]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\ruchi\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: sqlparse in c:\users\ruchi\anaconda3\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\ruchi\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in c:\users\ruchi\anaconda3\lib\site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: prettytable<1 in c:\users\ruchi\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in c:\users\ruchi\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\ruchi\anaconda3\lib\site-packages (from ipython-sql) (1.4.39)
Requirement already satisfied: traitlets>=4.2 in c:\users\ruchi\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: decorator in c:\users\ruchi\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: matplotlib-inline in c:\users\ruchi\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\ruchi\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\ruchi\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: pygments in c:\users\ruchi\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: colorama in c:\users\ruchi\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.5)
Requirement already satisfied: jedi>=0.16 in c:\users\ruchi\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: backcall in c:\users\ruchi\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\ruchi\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (63.4.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ruchi\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\ruchi\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\ruchi\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)

In [81]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [82]:
%sql sqlite://

In [84]:
%%sql
CREATE TABLE Records(City varchar(50), Country varchar(50), Season varchar(50), Temperature int, Rainfall int);
INSERT INTO Records VALUES
('Mumbai','India', 'Winter',24.8,5.9),
('Mumbai','India', 'Spring',28.8,16.2),
('Mumbai','India', 'Summer',27.9,1549.4),
('Mumbai','India', 'Fall',27.6,346.0 ),
('London','United Kingdom','Winter',4.2,207.7 ),
('London','United Kingdom','Spring',8.3,169.6 ),
('London','United Kingdom','Summer', 15.7,157.0),
('London','United Kingdom','Fall', 10.4,218.5),
('Cairo','Egypt','Winter', 13.6,16.5),
('Cairo','Egypt','Spring', 20.7,6.5),
('Cairo','Egypt','Summer',27.7,0.1),
('Cairo','Egypt','Fall', 22.2,4.5);
select * from records;

 * sqlite://
Done.
12 rows affected.
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.8, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [85]:
%sql SELECT Temperature FROM Records;

 * sqlite://
Done.

[(24.8,),
 (28.8,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [86]:
%sql SELECT DISTINCT City FROM Records;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [87]:
%sql SELECT * FROM Records WHERE Country = 'India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.8, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346)]

In [88]:
%sql SELECT * FROM Records WHERE Season = 'Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [89]:
%sql SELECT City, Country, Season FROM Records WHERE Rainfall BETWEEN 200 And 400;

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [90]:
%sql SELECT City, Country FROM Records WHERE Season = 'Fall' AND Temperature >20 ORDER BY Temperature ASC;

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [91]:
%sql SELECT Sum(Rainfall) as Total_Annual_Rainfall FROM records WHERE City='Cairo';

 * sqlite://
Done.

[(27.6,)]

In [92]:
%sql SELECT Season, round(Sum(Rainfall),1) as Total_Rainfall FROM records GROUP BY Season;

 * sqlite://
Done.

[('Fall', 569.0), ('Spring', 192.3), ('Summer', 1706.5), ('Winter', 230.1)]

## Question 9
. Suppose list words is defined as follows:

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following lists: a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG'] b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog'] c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words). d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.) e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [94]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

print("The upper case representation of the list of words:")
print([L.upper() for L in words],"\n")

print("The lower case representation of the list of words:")
print([L.lower() for L in words],"\n")

print("The length of each words in the list:")
print([len(L) for L in words],"\n")

print("The list containing a list for every word of list 'words'having elements as their uppercase representation, lowercase representation and the length of the word:")
print([[L.upper(), L.lower(), len(L)] for L in words],"\n")

print("The list of words in list words containing 4 or more characters:")
print([L for L in words if len(L)>=4])

The upper case representation of the list of words:
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

The lower case representation of the list of words:
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

The length of each words in the list:
[3, 5, 5, 3, 5, 4, 3, 4, 3]

The list containing a list for every word of list 'words'having elements as their uppercase representation, lowercase representation and the length of the word:
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

The list of words in list words containing 4 or more characters:
['quick', 'brown', 'jumps', 'over', 'lazy']